<div class="tw-w-full tw-mb-24 tw-mt-[150px]"  >
    <!-- <div class="tw-ml-auto tw-mt-[110px] tw-mb-16  tw-flex tw-justify-end">
        <p-dropdown 
        [options]="consultas" 
        optionValue="value"
        optionLabel="label"
        [(ngModel)]="selectedOption"
        placeholder="Select a City" 
        [disabled]="isSubmiting"
        />
    </div> -->

    <!-- {{isSubmiting}} -->

    <app-comprobante (loading)="setLoading($event)"></app-comprobante>
    <!-- @switch (selectedOption) {
        @case ('CE') {
            <app-comprobante (loading)="setLoading($event)"></app-comprobante>
        }

        @case ('GRE') {
            <app-guia-remision></app-guia-remision>
        }
        @default {
            <app-comprobante (loading)="setLoading($event)"></app-comprobante>
        }
    } -->

</div>