
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html body {
    margin: 0px;
  }
  
html{
    scroll-behavior: smooth !important;
}

a {
    text-decoration: none; /* Quita el subrayado */
    color: inherit;        /* Hace que el enlace tome el color de su elemento padre */
    background: none;      /* Elimina cualquier fondo */
  }

  :root {
    --main-color: #ff0000; /* Definimos una variable para el color */
    --second-color: #F58B3F;
  }

  .default_buttom{
    background-color: var(--main-color);
    color: white;
    font-weight: bolder;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
  }

  .default_buttom:hover{
    background-color: #e60f00;
    transition: all 0.2s ease-in-out;
  }

  .default_buttom2{
    background-color: var(--second-color);
    color: white;
    font-weight: bolder;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
  }

  .default_buttom2:hover{
    background-color: #FF8127;
    transition: all 0.2s ease-in-out;
  }

  .bg-main{
    background-color: var(--main-color);
  }

  .color-main{
    color: var(--main-color);
  }
  /* @media screen and (max-width: 768px) {
    
    .default_buttom{
      background-color: var(--main-color);
      color: white;
      font-weight: bolder;
      padding: 20px 25px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      font-size: 25px;
      transition: all 0.2s ease-in-out;
      margin: 0 auto;
    }
  
    .default_buttom:hover{
      background-color: #e60f00;
      transition: all 0.2s ease-in-out;
    }

    
  } */


  /* estlos de dropdown */
  /* Estilo global para todos los dropdowns */
.p-dropdown {
  width: 100%;
  box-shadow: none;
  background-color: #f5f5f5; /* Cambiar el color de fondo */
  border: 1px solid #a6a6a6; /* Cambiar el color del borde */
  border-radius: 40px;        /* Redondear los bordes */
}

.p-dropdown.p-component{
  background-color: white;
}

.p-dropdown-label {
  color: #585858;
  font-weight: 500;
  
}

.p-dropdown-panel {
  background-color: #ffffff; /* Fondo del panel desplegable */
  border-radius: 10px;
  
}

.p-dropdown-item {
  color: #000000;   /* Color del texto de las opciones */
  background-color: white;

}

.p-dropdown-item:hover {
  border-color: #000000;
  border-left: 2px solid; /* Color de fondo al pasar el ratón por las opciones */
  transition: all 0.1s ease-in-out;
  background-color: white;
}

.p-dropdown .p-highlight {
  border-color: #000000;
  background-color: white;
  border-left: 2px solid; /* Cambia el color del texto de la opción seleccionada */
}
.p-dropdown-items-wrapper {
  background-color: white;
  /* border: 1px solid #007bff; */
  border-radius: 10px;
}

/* estilos de inputs */
/* Cambiar el color del borde y el fondo del input */
.p-inputtext.p-component {
  background-color: white;
  width: 100%;
  /* margin: 10px; */
  border: 1px solid #a6a6a6; /* Cambiar el color del borde */
  color: #333; /* Cambiar el color del texto */
  padding: 10px;
  border-radius: 20px;
}

.p-calendar{
  width: 100%;
}